.place-grid__paragraph {
  font-family: 'Inter-Regular', 'Arial', 'sans-serif';
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}

.place-grid__paragraph:nth-of-type(2) {
  padding: 25px 0;
}

@media screen and (max-width: 768px) {
  .place-grid__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}