.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  max-width: 620px;
  padding-top: 32px;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    padding-top: 16px;
  }
}