.page__large-section {
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .page__large-section {
    max-width: 100%;
  }  
}

@media screen and (max-width: 768px) {
  .page__large-section {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page__large-section {
    max-width: 100%;
  }
}