.lead__caption {
  font-family: 'Inter-Regular', 'Arial', 'sans-serif';
  font-size: 12px;
  line-height: 14px;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
  max-width: 984px;
  margin: 0 auto;
  padding-top: 8px;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    font-size: 10px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}