@import url(./website__link/website__link.css);
@import url(./website__url-heading/website__url-heading.css);

.place__website {
  list-style: none;
  align-self: flex-end;
  margin: 0;
  width: 454px;
  padding: 0;
}